table.moduleTable {	
  border: 1px solid #DDD;	
  border-collapse: collapse;
}

td.headerQuotes {	
  background: #39B54A;	
  color: #FFFFFF;	
  padding: 5px;	
  font-weight: bold;	
  font-size: 12px;
}

td.cpanelHeader {	
 background-color: #39B54A;	
 color: #FFFFFF;	
 padding: 5px;	
 font-weight: bold;	
 font-size: 12px;	
 text-align:center;
}

th.title {	
  text-align:left;
}
.row1 {	
  background: #fff7e7;
}

.row1 td table td, .row0 td table td {	
  padding-left: 0px;
}


.row0:hover, .row1:hover {	
  background: #E5E5E5;
}

.editView td { padding:5px; }

table.tableList th {	border-bottom: 1px solid #333;	border-left: 1px solid #DDD;	border-collapse: collapse;	font-size: 11px;}

table.tableList td {	border-left: 1px solid #DDD;	border-top: 1px solid #DDD;}table.tableList {	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	border-collapse: collapse;
}
a.button:link, a.button:visited {
	border: 1px solid #DDD;
	padding: 5px;
	background: #333333;
	color: #FFFFFF;	font-weight: bold;
}
a.button:hover {
	border: 1px solid #DDD;
	padding: 5px;
	background: #39B54A;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}
input.button {
	border: 1px solid #DDD;
	padding: 5px;
	background: #ed7b00;
	color: #FFFFFF;
	font-weight: bold;
}
input.button:hover {
	border: 1px solid #DDD;
	padding: 5px;
	background: #ff8603;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}
input.small, input.small:hover {
	padding: 2px;
	cursor: pointer;
}
a:link, a:visited {
	color: #333333;
}
a:hover, a.pagenav:hover {
	color: #ABDA50;
}
#copy {
	width: 100%;
	text-align: center;
	font-size: 10px;
	color: #666666;
}
#copy a:link, #copy a:visited {
	color: #333333;
	text-decoration: none;
}
#copy a:hover {
	text-decoration: underline;
}
table.editView {
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}
table.editView td {
	border-left: 1px solid #DDD;
	border-top: 1px solid #DDD;
}
td.fieldName {
	background: #f5f4f4;
	font-weight: bold;
	text-align: right;
}
td.fieldNameRequired {
	background: url(../images/required_field.png) no-repeat right #f5f4f4;
	font-weight: bold;
	text-align: right;
}
td.fieldNameRequiredActive {
	background: url(../images/required_field_2.png) no-repeat right #f5f4f4;
	font-weight: bold;
	text-align: right;
}
td.fieldValue {
	padding: 5px;
}
table.serviceList td {
	border: none;
	padding: 5px;
}
table.serviceList th {
	background: #f5f4f4;
	border-bottom: 1px solid #DDD;
	border-right: 1px solid #DDD;
	padding: 5px;
}
td.productTotal {
	text-align: right;
	vertical-align: bottom;
}
table.totalTable th{
	background: #a61b10;
	color: #FFFFFF;
	padding: 5px;
	font-weight:bold;
}
table.totalTable td {
	font-weight:bold;
}
.tableListHeader {
	background:#39B54A;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 11px;
	text-align: center;
}
table.moduleTable td {
	border-bottom: 1px solid #DDD;
	padding:5px 3px;
}
/* pane-sliders  */
.pane-sliders .title {
	margin: 0;
	padding: 2px;
	color: #666;
	cursor: pointer;
}

.pane-sliders .panel   { border: 1px solid #ccc; margin-bottom: 3px;}

.pane-sliders .panel h3 { background: #f6f6f6; color: #666}

.pane-sliders .content { }

.pane-sliders .adminlist     { border: 0 none; }
.pane-sliders .adminlist td  { border: 0 none; }

.jpane-toggler  span     { background: transparent url(../images/j_arrow.png) 5px 50% no-repeat; padding-left: 20px;}
.jpane-toggler-down span { background: transparent url(../images/j_arrow_down.png) 5px 50% no-repeat; padding-left: 20px;}

.jpane-toggler-down {  border-bottom: 1px solid #ccc; }

#lbxOv{
  background-color: #4D4D4D;
}

#lbxBox{
  font-size:12px;
  top:100px;
  width:720px;
  margin:0 auto;
  padding:10px 0;
}

#lbxBoxIn{
	text-align:center;
  background-color:white;
}

#gmap{
  width:700px;
  margin:0 auto;
  height:500px;
  border:1px solid #333;
}
.bold {
	font-weight:bold;
}.icon-32-refresh { background-image: url(../images/refresh.png); }.icon-32-convert_lead { background-image: url(../images/convert_lead.png); }table.moduleTable tfoot tr { text-align: center;  color: #333; }table.moduleTable tfoot td,table.moduleTable tfoot th { background-color: #f3f3f3; border-top: 1px solid #999; text-align: center; }table.moduleTable td.order 		{ text-align: center; white-space: nowrap; }table.moduleTable td.order span { float: left; display: block; width: 20px; text-align: center; }table.moduleTable .pagination { display:table; padding:0;  margin:0 auto;	 }